<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 控制框架运行的属性信息 -->
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <!-- 定义全限定类名的别名，用于简化配置 -->
    <typeAliases>
        <typeAlias alias="Dept" type="com.txey.qytxl.model.Dept"/>
        <typeAlias alias="Employee" type="com.txey.qytxl.model.Employee"/>
    </typeAliases>
    <!-- 引用映射文件 -->
    <mappers>
        <mapper resource="Dept.xml"/>
        <mapper resource="Employee.xml"/>
    </mappers>
</configuration>
