<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- MyBatis 配置 -->
    <settings>
        <!--结果支持驼峰方式返回-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--支持数据库自增-->
        <setting name="useGeneratedKeys" value="true" />
        <!-- 让mybatis支持返回null字段 -->
        <setting name="callSettersOnNulls" value="true"/>
        
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    
</configuration>

